body {
    background-color: #121213;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

img {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ol {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

form {
    display: flex;
}